/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* TAG */

body {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: black;
}

input {
    background-color: black;
    color: whitesmoke;
    max-width: 50px;  
}

/* CLASS */

.visu {
    border: solid whitesmoke 1px;
    border-radius: 4px;

    margin-right: 1rem;
    width: 80%;
}

.contenu {
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.sideBar {
    width: 20%;
}

.titre {
    margin: 2.5rem auto 1rem auto;
}

.bouton {
    border: solid whitesmoke 1px;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;

    transition: color 0.2s, transform 0.2s ease-in-out;
}

.liste, .valueWithName {
    display: flex;
    flex-wrap: wrap;
}

.valueName {
    font-size: medium;
    margin: 0.5rem 0 0.5rem 0;
}

.value {
    margin: auto;
    margin-left: 0.5rem;
    border: 0;
    border-bottom: 1px solid whitesmoke;
}

:focus-visible {
    outline: none !important;
}

.bouton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ID */

#turquoise:hover {
    color: rgb(0,255,200);
}

#red:hover {
    color: rgb(255,100,100);
}

#saffron:hover {
    color: rgb(225,170,10);
}

#titanium:hover {
    color: rgb(210,210,210);
}



/* MEDIA QUERIES */

@media screen and (max-width: 1050px) {

    .valueWithName {
        display: block;
    }

}

@media screen and (max-width: 800px) {

    h3 {
        font-size: 1rem;
    }

    .valueName, .bouton {
        font-size: 0.8rem;
    }

    .visu {
        width: 75%;
    }

    .sideBar {
        width: 25%;
    }

}

@media screen and (max-width: 600px) {

    .valueName, .bouton {
        font-size: 0.7rem;
    }

    .visu {
        width: 70%;
    }

    .sideBar {
        width: 30%;
    }

}