/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@font-face {
    font-family: "NeutralFace";
    src: url(font.otf) format("opentype");
}

/* TAG */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: black;
    color: whitesmoke;

    max-width: 50px;  
}

footer {
    margin-top: auto;
}

img {
    color: whitesmoke;
}

/* CLASS */

.titre {
    margin: 4rem auto 2.5rem auto;

    font-family: "NeutralFace";
    letter-spacing: 0.2rem;
}

.visu {
    border: solid whitesmoke 1px;
    border-radius: 4px;
    margin-right: 1rem;
    width: 80%;
}

.bouton {
    background-color: black;

    border: solid whitesmoke 1px;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.3rem;
    width: fit-content;

    transition: color 0.2s, transform 0.2s ease-in-out;
}

.bouton:hover {
    transform: scale(1.1);
    cursor: pointer;

    color: rgb(210,210,210);
    font-weight: bold;
}

.boutonAbsolu {
    position: absolute;
}

.boutonFixed {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

:focus-visible {
    outline: none !important;
}

.contenu {
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.sideBar {
    width: 20%;
}

.liste, .valueWithName {
    display: flex;
    flex-wrap: wrap;
}

.valueName {
    font-size: medium;

    margin: 0.5rem 0 0.5rem 0;
}

.value {
    margin: auto;
    margin-left: 0.5rem;
    border: 0;
    border-bottom: 1px solid whitesmoke;
}

.presets {
    display: flex;
}

.first {
    margin-left: 0;
}

.footer {
    margin-top: 2.5rem;
    padding: 1rem;
    border-top: 1px solid whitesmoke;

    display: flex;
    justify-content: space-evenly;
}

.imageFooter {
    margin: 0.3rem 0 0.3rem 0;
    width: 2rem;

    transition: transform .2s;
}

.imageFooter:hover {
    transform: scale(1.2);
}

/* ID */

#turquoise:hover {
    color: rgb(113, 175, 161);
}

#red:hover {
    color: rgb(197, 107, 107);
}

#saffron:hover {
    color: rgb(211, 186, 109);
}

#titanium:hover {
    color: rgb(153, 153, 153);
}

#sandStream:hover {
    color: rgb(213, 213, 169);
}

#highway:hover {
    color: rgb(174, 150, 213);
}

#generativeMap:hover {
    color: rgb(214, 151, 151);
}

#glitch:hover {
    color: rgb(177, 213, 177);
}

#duoTone:hover {
    background: linear-gradient(to right, rgb(255, 247, 3), rgb(255, 77, 216));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#duoTone:hover::after {
    content: ' (CPU intensive)';
    font-size: xx-small;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {

    .valueWithName {
        display: block;
    }

}

@media screen and (max-width: 800px) {

    h3 {
        font-size: 1rem;
    }

    .visu {
        width: 75%;
    }

    .sideBar {
        width: 25%;
    }

    .valueName, .bouton {
        font-size: 0.8rem;
    }

    .imageFooter {
        width: 1.5rem;
    }

}

@media screen and (max-width: 600px) {

    .visu {
        width: 70%;
    }

    .sideBar {
        width: 30%;
    }
    
    .valueName, .bouton {
        font-size: 0.7rem;
    }

    footer {
        justify-content: center;
    }

    .imageFooter {
        margin: 0.3rem 1rem 0.3rem 1rem;
    }
}